# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Tour Website
Tour Website/node_modules

# Review Website
Review Website/node_modules
Review Website/src/data.js


